14 columns <br>
**SrNo**—corresponds to the record (row) number and has no effect on the output.<br>
**CustomerId**—contains random values and has no effect on customer leaving the bank.<br>
**LastName**—the surname of a customer has no impact on their decision to leave the bank.<br>
**CreditScore**—can have an effect on customer churn, since a customer with a higher credit score is less likely to leave the bank. <br>
**Location**—a customer’s location can affect their decision to leave the bank.<br>
**Sex**—it’s interesting to explore whether gender plays a role in a customer leaving the bank.<br>
**Age**—this is certainly relevant, since older customers are less likely to leave their bank than younger ones. <br>
**Tenure**—refers to the number of years that the customer has been a client of the bank. Normally, older clients are more loyal and less likely to leave a bank. <br>
**CurrBalance**—also a very good indicator of customer churn, as people with a higher balance in their accounts are less likely to leave the bank compared to those with lower balances. <br>
**NumProducts**—refers to the number of products that a customer has purchased through the bank. <br>
**OwnCrCard**—denotes whether or not a customer has a credit card. This column is also relevant, since people with a credit card are less likely to leave the bank. <br>
**ActiveMember**—active customers are less likely to leave the bank. <br>
**Salary**—as with balance, people with lower salaries are more likely to leave the bank compared to those with higher salaries. <br>
**Exited**—whether or not the customer left the bank. <br>

# Part 1: Prepare data

## 1) Read data from cvs file

In [1]:
import pandas as pd                 

dataset=pd.read_csv('../bank customer dataset.csv') 
print(dataset.shape)
dataset.head()

(10000, 14)

,SrNo,CustomerId,LastName,CreditScore,Location,Sex,Age,Tenure,CurrBalance,NumProducts,OwnCrCard,ActiveMember,Salary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## 2) Overview the dataset
Result: No data missing in this dataset. But some data type is categorical data.

In [2]:
# define a function to overview the dataset (total data, missing value, unique values for each feature)

def dataoveriew(df, message):
    '''
    a function to overview the data
    
    Args:
        df: the data read from cvs file;
        message: the title for this function results.
    
    Returns: 
        None
    
    '''
    print(f'{message}:\n')
    print("Rows:", df.shape[0])
    print("\nNumber of features:", df.shape[1])
    print("\nFeatures:")
    print(df.columns.tolist())
    print("\nMissing values:", df.isnull().sum().values.sum())
    print("\nUnique values:")
    print(df.nunique())

Display Overview of the Dataset

In [3]:
# Write your code here

Overiew of the whole dataset:

Rows: 10000

Number of features: 14

Features:
['SrNo', 'CustomerId', 'LastName', 'CreditScore', 'Location', 'Sex', 'Age', 'Tenure', 'CurrBalance', 'NumProducts', 'OwnCrCard', 'ActiveMember', 'Salary', 'Exited']

Missing values: 0

Unique values:
SrNo            10000
CustomerId      10000
LastName         2932
CreditScore       460
Location            3
Sex                 2
Age                70
Tenure             11
CurrBalance      6382
NumProducts         4
OwnCrCard           2
ActiveMember        2
Salary           9999
Exited              2
dtype: int64

checking datatypes and null values

In [4]:
# Write your code here

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SrNo          10000 non-null  int64
 1   CustomerId    10000 non-null  int64
 2   LastName      10000 non-null  object
 3   CreditScore   10000 non-null  int64
 4   Location      10000 non-null  object
 5   Sex           10000 non-null  object
 6   Age           10000 non-null  int64
 7   Tenure        10000 non-null  int64
 8   CurrBalance   10000 non-null  float64
 9   NumProducts   10000 non-null  int64
 10  OwnCrCard     10000 non-null  int64
 11  ActiveMember  10000 non-null  int64
 12  Salary        10000 non-null  float64
 13  Exited        10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

## 3) Preprocess data: Categorical data - one hot encoding

In [5]:
# Write your code here

In [6]:
dataset["Location"] # France=0, Spain=2, Germany=1

0       0
1       2
2       0
3       0
4       2
       ..
9995    0
9996    0
9997    0
9998    1
9999    0
Name: Location, Length: 10000, dtype: int32

In [7]:
dataset["Sex"]  # Female = 0;  Male = 1.

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Sex, Length: 10000, dtype: int32

## 4) The situation of the customer in the studied dataset
Result: In this dataset, there is a rate of 20.4% for the customer left from bank.

In [8]:
# Write your code here

0    7963
1    2037
Name: Exited, dtype: int64